<!DOCTYPE html>
<html>
<head>
    <title>Concrete Options - Ecostruct</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Concrete Components</h2>
    <div class="menu">
        <a href="/concrete/column/step1"><i class="icon-column"></i> Column</a>
        <a href="#"><i class="icon-beam"></i> Beam</a>
        <a href="#"><i class="icon-shearwall"></i> Shear Wall</a>
        <a href="#"><i class="icon-slab"></i> Slab</a>
    </div>
    <a href="/main_menu">Back to Menu</a>
</body>
</html>