<!DOCTYPE html>
<html>
<head>
    <title>Main Menu - Ecostruct</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Select Material</h2>
    <div class="menu">
        <a href="/material/Concrete"><i class="icon-concrete"></i> Concrete</a>
        <a href="/material/Brick"><i class="icon-brick"></i> Brick</a>
        <a href="/material/Timber"><i class="icon-timber"></i> Timber</a>
        <a href="/material/Glass"><i class="icon-glass"></i> Glass</a>
    </div>
</body>
</html>